.form-container {
  border: 1px solid $color-3;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    padding: 25px;

    input,
    textarea {
      border: 1px solid $color-3;
      font-family: "Amiri", serif;
      padding: 5px 10px;
      resize: none;
    }

    input[type="text"],
    textarea {
      margin-bottom: 6px;
      background-color: $color-2;
    }
  }

  .submit {
    background-color: #1DA1F2;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
}
